body {
    background: #009688;
    color: white;
    text-align: center;
}

a {
    color: inherit;
}

p {
    font-size: large;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1 {
    font-size: 3em;
}

h5 {
    color: lightgreen;
}

ul {
    list-style-type: none;
}

#sm-menu-block {
    display: block;
}

#sm-menu-block-mobile {
    display: none;
}

.menu {
    -webkit-filter: url("#shadowed-goo");
    filter: url("#shadowed-goo");
}

.menu-item,
.menu-open-button {
    background: #ffc107;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-left: -40px;
    position: absolute;
    top: 20px;
    color: white;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.sm-menu-item-mobile {
    font-size: 20px;
    color: blue;
    font-family: -webkit-pictograph;
    font-weight: 500;
}
/*
.menu-open {
    display: none;
}

.hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hamburger-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

.menu-open:checked+.menu-open-button .hamburger-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked+.menu-open-button .hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked+.menu-open-button .hamburger-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
    position: fixed;
    margin-left: -23px;
    padding-top: 20px;
    padding-left: 80px;
    width: 650px;
    height: 110px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
    top: 0px;
    z-index: 2;
}

.menu-item:hover {
    background: white;
    color: #ffc107;
}

.menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(5) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1, 1) translate3d(0, 0, 0);
    cursor: pointer;
}

.menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked~.menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-open:checked~.menu-item:nth-child(3) {
    -webkit-transition-duration: 170ms;
    transition-duration: 170ms;
    -webkit-transform: translate3d(80px, 0, 0);
    transform: scale(0.8, 0.8) translate3d(80px, 0, 0);
}

.menu-open:checked~.menu-item:nth-child(4) {
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transform: translate3d(160px, 0, 0);
    transform: scale(0.8, 0.8) translate3d(160px, 0, 0);
}

.menu-open:checked~.menu-item:nth-child(5) {
    -webkit-transition-duration: 330ms;
    transition-duration: 330ms;
    -webkit-transform: translate3d(240px, 0, 0);
    transform: scale(0.8, 0.8) translate3d(240px, 0, 0);
}

.menu-open:checked~.menu-item:nth-child(6) {
    -webkit-transition-duration: 410ms;
    transition-duration: 410ms;
    -webkit-transform: translate3d(320px, 0, 0);
    transform: scale(0.8, 0.8) translate3d(320px, 0, 0);
}

*/
.fa {
    font-size: xx-large;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 15px !important;
    font-size: 25px !important;
    width: 50px;
    text-align: center !important;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: 15px !important;
    font-size: 25px !important;
    width: 50px;
    text-align: center !important;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-github {
    background: black;
    color: white;
    padding: 15px !important;
    font-size: 25px !important;
    width: 50px;
    text-align: center !important;
    text-decoration: none;
    margin: 5px 2px;
}

.sm-container {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.sm-profile-img {
    width: 70%;
    height: 70%;
    /* margin-top: 50px; */
    padding: 10px;
    border-radius: 50%;
    border: 5px solid aquamarine;
    margin: 2px;
}

.sm-left-div {
    /* max-width: 300px; */
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    width: 550px;
}

.sm-right-div {
    display: inline-block;
    width: 650px;
    padding: 20px;
    margin-top: 5%;
}

.sm-text-highlight {
    font-weight: bold;
    font-size: 70px;
    color: palegreen;
}

.sm-btn {
    border: none;
    background-color: aquamarine;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    color: black;
    font-weight: bold;
}

.fa-external-link {
    color: black;
    font-size: 25px !important;
    width: 30px;
    text-align: center !important;
    text-decoration: none;
}

/*Start Timeline*/
.sm-timeline-item {
    padding: 3em 2em 1em;
    position: relative;
    /* color: rgba(0, 0, 0, 0.7); */
    border-left: 3px solid rgba(255, 255, 255, 1.3);
    /* border-width: 0 0 0 3px;
    border-color: rgba(255, 255, 255, 1.3); */
}

.sm-timeline-item p {
    font-size: 1rem;
}

.sm-timeline-item::before {
    content: attr(year-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.sm-timeline-item::after {
    width: 20px;
    height: 20px;
    display: block;
    top: 1em;
    position: absolute;
    left: -11px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
}

/* .sm-timeline-item:last-child {
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
    border-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0))) 1 100%;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 1.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
} */


/*End Timeline*/

/*Start Portfolio*/
.card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    color: black;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.previous:hover,
.next:hover {
    background-color: #ddd;
    color: black;
}

.round {
    border-radius: 50%;
}

/*End Portfolio*/

/*Start Contact*/
.sm-containerpadding {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.sm-opacity {
    opacity: 0.60;
}

.text-light-grey {
    color: #f1f1f1 !important;
}

.sm-section {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.sm-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.sm-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.sm-btn {
    border: none;
    background-color: aquamarine;
    padding: 10px 20px 10px 8px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    color: black;
    font-weight: bold;
}

/* Green */
.sm-success {
    color: white;
}

.sm-success:hover {
    background-color: #ddd !important;
    color: black !important;
}

form {
    /* width: 50%;
    margin-left: 25%; */
    margin: auto 10%;
}

textarea {
    /* width: 100% !important; */
    min-height: 150px;
}

/*End Contact*/
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1024px) {
    #sm-menu-block-mobile {
        display: block;
    }

    #sm-menu-block {
        display: none;
    }

    .menu {
        height: 85px;
    }

    .menu-item,
    .menu-open-button {
        width: 75px;
        height: 75px;
        line-height: 70px;
    }

    .sm-bg-text {
        margin: 0 auto;
        top: 10%;
    }

    .sm-profile-img {
        width: 60% !important;
        height: 60% !important;
    }

    .sm-left-div,
    .sm-right-div {
        width: 100%;
    }

    .menu-open:checked+.menu-open-button {
        transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(3) {
        transform: scale(1.2, 1.2) translate3d(80px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(4) {
        transform: scale(1.2, 1.2) translate3d(160px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(5) {
        transform: scale(1.2, 1.2) translate3d(240px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(6) {
        transform: scale(1.2, 1.2) translate3d(320px, 0, 0);
    }
}

@media screen and (max-width: 800px) {
    #sm-menu-block-mobile {
        display: block;
    }

    #sm-menu-block {
        display: none;
    }

    .menu {
        height: 85px;
    }

    .menu-item,
    .menu-open-button {
        line-height: 70px;
    }

    .sm-bg-text {
        margin: 0 auto;
        top: 10%;
    }

    .sm-profile-img {
        width: 60% !important;
        height: 60% !important;
    }

    .sm-left-div,
    .sm-right-div {
        width: 100%;
    }

    .menu-open:checked+.menu-open-button {
        transform: scale(0.9, 0.9) translate3d(0, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(3) {
        transform: scale(0.9, 0.9) translate3d(80px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(4) {
        transform: scale(0.9, 0.9) translate3d(160px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(5) {
        transform: scale(0.9, 0.9) translate3d(240px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(6) {
        transform: scale(0.9, 0.9) translate3d(320px, 0, 0);
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    #sm-menu-block-mobile {
        display: block;
    }

    #sm-menu-block {
        display: none;
    }

    .menu {
        height: 85px;
    }

    .menu-item,
    .menu-open-button {
        line-height: 70px;
    }

    .sm-bg-text {
        /* margin: 0 auto; */
        margin: auto;
        /* top: 10%; */
        height: 88%;
    }

    .sm-profile-img {
        width: 70% !important;
        height: 70% !important;
    }

    .sm-text-highlight {
        font-size: larger;
    }

    .sm-left-div,
    .sm-right-div {
        width: 100%;
        margin-top: 0px;
    }

    /* .sm-timeline-item:last-child {
        /* border-width: thick; */
    /* border-left-width: thick;
    } */

    .menu-open:checked+.menu-open-button {
        transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(3) {
        transform: scale(0.8, 0.8) translate3d(80px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(4) {
        transform: scale(0.8, 0.8) translate3d(160px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(5) {
        transform: scale(0.8, 0.8) translate3d(240px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(6) {
        transform: scale(0.8, 0.8) translate3d(320px, 0, 0);
    }
}

/*Start Testing for menu --------------------------------------------------------*/
.menu-open{
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    left: 11px;
    top: 11px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.circular-menu {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 3;
}

.circular-menu .floating-btn {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: hsl(4, 98%, 60%);
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);
    color: hsl(0, 0%, 100%);
    text-align: center;
    line-height: 5.4;
    cursor: pointer;
    outline: 0;
}

.circular-menu.active .floating-btn {
    box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
    font-size: 35px;
    transition: transform .2s;
    z-index: 3;
}

.circular-menu.active .floating-btn i {
    transform: rotate(0deg);
}

.circular-menu:after {
    display: block;
    content: ' ';
    /* width: 60px;
    height: 60px; */
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    top: 0;
    /* right: 10px; */
    right: 0;
    z-index: -2;
    background-color: hsl(4, 98%, 60%);
    transition: all .3s ease;
}

.circular-menu.active:after {
    /* transform: scale3d(9.5, 9.5, 1); */
    /* transform: scale(9.5,9.5) translate3d(0, 0, 0); */
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
    width: 400px;
    height: 400px;
    top: -200px;
    left: -200px;
    -webkit-animation: anim-jelly 0.8s linear forwards;
}

.circular-menu .items-wrapper {
    padding: 0;
    margin: 0;
}

.circular-menu .menu-item {
    position: absolute;
    top: .2em;
    right: .2em;
    z-index: -1;
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    text-align: center;
    line-height: 4.2;
    /* background-color: hsla(0, 0%, 0%, .1); */
    transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
    background-color: hsla(0, 0%, 0%, .3);
}

.circular-menu.active .menu-item {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
    transform: translate3d(1em, -7em, 0);
}

.circular-menu.active .menu-item:nth-child(2) {
    transform: translate3d(-3.5em, -6.3em, 0);
}

.circular-menu.active .menu-item:nth-child(3) {
    transform: translate3d(-6.5em, -3.2em, 0);
}

.circular-menu.active .menu-item:nth-child(4) {
    transform: translate3d(-7em, 1em, 0);
}

/**
   * The other theme for this menu
   */

.circular-menu.circular-menu-left {
    right: auto;
    left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
    /* background-color: hsl(217, 89%, 61%); */
    background-color: #ffc107;
}

.circular-menu.circular-menu-left:after {
    /* background-color: hsl(217, 89%, 61%); */
    background-color: #ffc107;
}

.circular-menu.circular-menu-left.active .floating-btn i {
    transform: rotate(0deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
    transform: translate3d(236px, 0px, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
    transform: translate3d(194px, 100px, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
    transform: translate3d(115px, 179px, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
    transform: translate3d(0px, 215px, 0);
}

/*End Testing for menu -----------------------------------------------------*/