body {
    background: #009688;
    color: white;
    text-align: center;
}

a {
    color: inherit;
}

p {
    font-size: large;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1 {
    font-size: 3em;
}

.menu {
    -webkit-filter: url("#shadowed-goo");
    filter: url("#shadowed-goo");
}

.menu-item,
.menu-open-button {
    background: #ffc107;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-left: -40px;
    position: absolute;
    top: 20px;
    color: white;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
    display: none;
}

.hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hamburger-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

.menu-open:checked+.menu-open-button .hamburger-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked+.menu-open-button .hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked+.menu-open-button .hamburger-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
    position: fixed;
    margin-left: -23px;
    padding-top: 20px;
    padding-left: 80px;
    width: 650px;
    height: 110px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
    top: 0px;
    z-index: 2;
}

.menu-item:hover {
    background: white;
    color: #ffc107;
}

.menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(5) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    /* transform: scale(1.1, 1.1) translate3d(0, 0, 0); */
    transform: scale(1, 1) translate3d(0, 0, 0);
    cursor: pointer;
}

.menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked~.menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-open:checked~.menu-item:nth-child(3) {
    -webkit-transition-duration: 170ms;
    transition-duration: 170ms;
    -webkit-transform: translate3d(80px, 0, 0);
    transform: scale(0.8, 0.8) translate3d(80px, 0, 0);
}

.menu-open:checked~.menu-item:nth-child(4) {
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transform: translate3d(160px, 0, 0);
    transform: scale(0.8, 0.8) translate3d(160px, 0, 0);
}

.menu-open:checked~.menu-item:nth-child(5) {
    -webkit-transition-duration: 330ms;
    transition-duration: 330ms;
    -webkit-transform: translate3d(240px, 0, 0);
    transform: scale(0.8, 0.8) translate3d(240px, 0, 0);
}

.menu-open:checked~.menu-item:nth-child(6) {
    -webkit-transition-duration: 410ms;
    transition-duration: 410ms;
    -webkit-transform: translate3d(320px, 0, 0);
    transform: scale(0.8, 0.8) translate3d(320px, 0, 0);
}


.fa {
    font-size: xx-large;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 15px !important;
    font-size: 25px !important;
    width: 50px;
    text-align: center !important;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: 15px !important;
    font-size: 25px !important;
    width: 50px;
    text-align: center !important;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-github {
    background: black;
    color: white;
    padding: 15px !important;
    font-size: 25px !important;
    width: 50px;
    text-align: center !important;
    text-decoration: none;
    margin: 5px 2px;
}

.sm-container {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.sm-profile-img {
    width: 70%;
    height: 70%;
    /* margin-top: 50px; */
    padding: 10px;
    border-radius: 50%;
    border: 5px solid aquamarine;
    margin: 2px;
}

.sm-left-div {
    /* max-width: 300px; */
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    width: 550px;
}

.sm-right-div {
    display: inline-block;
    width: 650px;
    padding: 20px;
    margin-top: 5%;
}

.sm-text-highlight {
    font-weight: bold;
    font-size: 70px;
    color: palegreen;
}

.sm-btn {
    border: none;
    background-color: aquamarine;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    color: black;
    font-weight: bold;
}

.fa-external-link {
    color: black;
    font-size: 25px !important;
    width: 30px;
    text-align: center !important;
    text-decoration: none;
}

/*Start Timeline*/
.sm-timeline-item {
    padding: 3em 2em 1em;
    position: relative;
    /* color: rgba(0, 0, 0, 0.7); */
    border-left: 3px solid rgba(255, 255, 255, 1.3);
    /* border-width: 0 0 0 3px;
    border-color: rgba(255, 255, 255, 1.3); */
}

.sm-timeline-item p {
    font-size: 1rem;
}

.sm-timeline-item::before {
    content: attr(year-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.sm-timeline-item::after {
    width: 20px;
    height: 20px;
    display: block;
    top: 1em;
    position: absolute;
    left: -11px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
}

/* .sm-timeline-item:last-child {
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
    border-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0))) 1 100%;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 1.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
} */


/*End Timeline*/

/*Start Portfolio*/
.card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    color: black;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}
.previous:hover, .next:hover{
    background-color: #ddd;
    color: black;
}
.round {
    border-radius: 50%;
}

/*End Portfolio*/

/*Start Contact*/
.sm-containerpadding {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.sm-opacity {
    opacity: 0.60;
}

.text-light-grey {
    color: #f1f1f1 !important;
}

.sm-section {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.sm-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.sm-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.sm-btn {
    border: none;
    background-color: aquamarine;
    padding: 10px 20px 10px 8px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    color: black;
    font-weight: bold;
}

/* Green */
.sm-success {
    color: white;
}

.sm-success:hover {
    background-color: #ddd !important;
    color: black !important;
}

form {
    /* width: 50%;
    margin-left: 25%; */
    margin: auto 10%;
}

textarea {
    /* width: 100% !important; */
    min-height: 150px;
}

/*End Contact*/
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1024px) {
    .menu {
        height: 85px;
    }

    .sm-bg-text {
        margin: 0 auto;
        top: 10%;
    }

    .sm-profile-img {
        width: 60% !important;
        height: 60% !important;
    }

    .sm-left-div,
    .sm-right-div {
        width: 100%;
    }

    .menu-open:checked+.menu-open-button {
        transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(3) {
        transform: scale(0.8, 0.8) translate3d(80px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(4) {
        transform: scale(0.8, 0.8) translate3d(160px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(5) {
        transform: scale(0.8, 0.8) translate3d(240px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(6) {
        transform: scale(0.8, 0.8) translate3d(320px, 0, 0);
    }
}

@media screen and (max-width: 800px) {
    .menu {
        height: 85px;
    }

    .sm-bg-text {
        margin: 0 auto;
        top: 10%;
    }

    .sm-profile-img {
        width: 60% !important;
        height: 60% !important;
    }

    .sm-left-div,
    .sm-right-div {
        width: 100%;
    }

    .menu-open:checked+.menu-open-button {
        transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(3) {
        transform: scale(0.8, 0.8) translate3d(80px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(4) {
        transform: scale(0.8, 0.8) translate3d(160px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(5) {
        transform: scale(0.8, 0.8) translate3d(240px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(6) {
        transform: scale(0.8, 0.8) translate3d(320px, 0, 0);
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .menu {
        height: 85px;
    }

    .sm-bg-text {
        /* margin: 0 auto; */
        margin: auto;
        /* top: 10%; */
        height: 88%;
    }

    .sm-profile-img {
        width: 70% !important;
        height: 70% !important;
    }

    .sm-text-highlight {
        font-size: larger;
    }

    .sm-left-div,
    .sm-right-div {
        width: 100%;
        margin-top: 0px;
    }

    /* .sm-timeline-item:last-child {
        /* border-width: thick; */
        /* border-left-width: thick;
    } */

    .menu-open:checked+.menu-open-button {
        transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(3) {
        transform: scale(0.8, 0.8) translate3d(80px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(4) {
        transform: scale(0.8, 0.8) translate3d(160px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(5) {
        transform: scale(0.8, 0.8) translate3d(240px, 0, 0);
    }

    .menu-open:checked~.menu-item:nth-child(6) {
        transform: scale(0.8, 0.8) translate3d(320px, 0, 0);
    }
}