body,
html {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #757575 !important;
    font-size: 15px;
    /* The image used */
    background-image: url("../images/lauren-mancke-aOC7TSLb1o8-unsplash.jpg");

    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.text-light-grey {
    color: #f1f1f1 !important;
}

.sm-div-top {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.sm-bg-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 90%;
    padding: 20px;
    text-align: center;
    /*added*/
    height: 80%;
    margin: auto;
}

.sm-div-row {
    display: table;
    clear: both;
    width: 100%;
}

.sm-div-padding {
    padding: 8px 16px !important;
}

.sm-black-row {
    /* color: #757575; */
    color: white;
    background-color: black;
}

.sm-navbar {
    width: 24.9999%;
}

.sm-col {
    float: left;
}

.sm-button.sm-block.sm-black-row:hover {
    background-color: #ddd !important;
    color: black !important;
}

.sm-button {
    border: none;
    padding: 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;
    font-size: 12px;
}

.sm-block {
    display: block;
    width: 100%;
}

.bodyContent {
    margin-top: 50px;
    height: 592px;
    width: 100%;
}

.sm-container {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    margin: auto;
    height: 100%;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.sm-profile-img {
    width: 70%;
    height: 70%;
    /* margin-top: 50px; */
    padding: 10px;
}

.sm-left-div {
    /* max-width: 300px; */
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    width: 600px;
}

.sm-right-div {
    display: inline-block;
    width: 600px;
    padding: 20px;
}

.sm-containerpadding {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.containerContent {
    max-width: 980px;
}

.sm-opacity {
    opacity: 0.60;
}

.sm-section {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

h2 {
    font-size: 40px;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    /* margin: 20px 155px; */
    vertical-align: middle;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sm-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.sm-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.fa {
    padding: 15px !important;
    font-size: 20px !important;
    width: 50px;
    text-align: center !important;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.sm-btn {
    border: none;
    background-color: aquamarine;
    padding: 10px 20px 10px 8px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    color: black;
    font-weight: bold;
}

/* Green */
.sm-success {
    color: white;
}

.sm-success:hover {
    background-color: #ddd !important;
    color: black !important;
}

form {
    width: 50%;
    margin-left: 25%;
}

textarea {
    width: 100% !important;
}

/*Start Timeline*/
.sm-timeline-item {
    padding: 3em 2em 2em;
    position: relative;
    /* color: rgba(0, 0, 0, 0.7); */
    border-left: 1px solid rgba(255, 255, 255, 1.3);
}

.sm-timeline-item p {
    font-size: 1rem;
}

.sm-timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: .785rem;
}

.sm-timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
}

.sm-timeline-item:last-child {
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
    border-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0))) 1 100%;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 1.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}


/*End Timeline*/

/*Start::Portfolio horizontal scrollable divs*/
.portfolio-col{
    display: none;
    float: left;
    width: 25%;
    padding: 0 10px;
}
.portfolio-row{
    margin: 0 -5px;
}
.portfolio-row:after{
    content: "";
    display: table;
    clear: both;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.portfolio-img {
    border-radius: 5px 5px 0 0;
}

.div-description {
    padding: 2px 16px;
    color: black;
    background-color: whitesmoke;
}
.portfolio-button-left{
    color: black;
    background-color: white;
    position: absolute;
    top: 50%;
    left:0%;
    transform: translate(0%,-50%);
    cursor: pointer;
}
.portfolio-button-right{
    color: black;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    cursor: pointer;
}
.owl-nav {
    position: absolute;
    top: -60px;
    left: 10px;
  }
/*ENd::Portfolio horizontal scrollable divs*/


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 700px) {
    .sm-bg-text {
        margin: 0 auto;
        top: 10%;
    }

    .sm-profile-img {
        width: 70% !important;
        height: 70% !important;
    }

    .sm-left-div,
    .sm-right-div {
        width: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .sm-bg-text {
        /* margin: 0 auto; */
        margin: auto;
        /* top: 10%; */
        height: 88%;
    }

    .sm-profile-img {
        width: 70% !important;
        height: 70% !important;
    }

    .sm-left-div,
    .sm-right-div {
        width: 100%;
    }

    .portfolio-col{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    #portfolio{
        overflow-y:scroll;
        padding:10px;
    }
}